.kont{
    font-size: 25px;
    color: brown;
    padding: 5px 20px;
}
.selc{
    font-size: 20px;
    color: brown;
}
.link {
    text-decoration: none;
    color: white;
}
.link:hover {
    color:brown;
}
.cart{
    color: rgb(37, 37, 220);
    margin-left: 30px;
    font-size: 35px;
    border-radius: 50%;
    width: 40px;
}
input{
    width: 120px;
}